{
  "openapi": "3.1.0",
  "info": {
    "title": "Sodiq School — Exam API",
    "version": "0.1.0",
    "description": "Sodiq School qabul imtihoni tizimining backend API'si.\n\n## Javob shakli\n\nMuvaffaqiyatli javoblarning HAMMASI bir xil konvertda keladi:\n\n```json\n{ \"success\": true, \"data\": { } }\n```\n\nXatolar ham:\n\n```json\n{ \"success\": false, \"error\": { \"code\": \"VALIDATION_ERROR\", \"message\": \"...\", \"fields\": {} } }\n```\n\nIstisno: `GET /api/admin/results/export.csv` (CSV) va\n`GET /api/admin/results/{id}/pdf` (PDF) — ular faylning o'zini beradi.\n\n## Autentifikatsiya\n\nUch xil sessiya bir-biridan mustaqil, har biri o'z kaliti bilan imzolanadi:\n\n| Kim | Qanday | Muddat |\n| --- | --- | --- |\n| Admin | `sodiq_admin` cookie (`POST /api/admin/auth/login`) | 7 kun |\n| Ota-ona | `sodiq_result` cookie yoki `Authorization: Bearer` | 1 kun |\n| Qabul testi qurilmasi | `Authorization: Bearer` (`POST /api/test-taking/gate`) | 365 kun |\n\nAdmin marshrutlari FAQAT cookie'ni o'qiydi — ularga `Authorization` sarlavhasi\nbilan kirib bo'lmaydi.\n\n## Sahifalash\n\nRo'yxat qaytaradigan endpointlar `?page=` va `?take=` ni oladi va shunday\njavob beradi:\n\n```json\n{ \"items\": [], \"total\": 0, \"page\": 1, \"take\": 50, \"pages\": 1 }\n```\n\n`take` ning standarti va yuqori chegarasi har endpointda boshqacha; chegaradan\noshgan qiymat jimgina qisqartiriladi.\n\nBa'zi ro'yxatlarda `counts` bloki ham bor. U BAZADAN sanaladi (ko'rinib\nturgan sahifadan emas) va o'zi bo'linayotgan o'lchov filtriga bo'ysunmaydi.\n\n## Limitlar\n\n- `/api/admin/**` — 240 so'rov/daqiqa/IP\n- `POST /api/admin/auth/login` — 15 daqiqada 10 urinish/IP\n- `POST /api/result/auth/login` va `/auth/lookup` — 10 daqiqada 30 muvaffaqiyatSIZ urinish/IP\n- `POST /api/test-taking/gate` — 15 daqiqada 20 urinish/IP\n- `/api/test-taking` ning qolgani — limitsiz (kerak bo'lsa nginx darajasida cheklang)\n\nSo'rov tanasi 5 MB gacha (eng katta CSV importni qoplaydi).\n\n## Bilib qo'yish kerak\n\n- **Qabul testi nazorat ostidagi imtihon emas.** Fanlar tartibi faqat\n  interfeysda; `/api/test-taking/attempts` ga to'g'ridan-to'g'ri so'rov\n  yuborib istalgan testni boshlash mumkin. Bu — lead yig'uvchi funnel.\n- **`/api/result/auth/lookup` — qidiruv, autentifikatsiya emas.** Familya,\n  ism va sinf sir emas, ya'ni hisobot amalda ochiq; yagona to'siq — rate limiter.\n- **Ota-onaga ko'rsatiladigan raqamlar muzlatilgan** (`calculatedSnapshot`).\n  Hisob mantiqi o'zgarsa eski natijalar o'z-o'zidan yangilanmaydi —\n  `POST /api/admin/results/{id}/recompute-snapshot` kerak bo'ladi.",
    "contact": {
      "name": "Sodiq School",
      "url": "https://sodiqschool.uz"
    }
  },
  "servers": [
    {
      "url": "https://api.natija.sodiqschool.uz",
      "description": "Jonli server"
    },
    {
      "url": "http://localhost:4000",
      "description": "Lokal ishlab chiqish"
    }
  ],
  "tags": [
    {
      "name": "Xizmat",
      "description": "Tiriklik tekshiruvi."
    },
    {
      "name": "Admin · Auth",
      "description": "Admin paneliga kirish."
    },
    {
      "name": "Admin · O'quvchilar",
      "description": "O'quvchilar va ularning kirish kodlari."
    },
    {
      "name": "Admin · Imtihonlar",
      "description": "Imtihonlar va qabul chegaralari."
    },
    {
      "name": "Admin · Natijalar",
      "description": "Hisobotlar: yaratish, nashr etish, eksport, AI."
    },
    {
      "name": "Admin · Foydalanuvchilar",
      "description": "Admin hisoblari. Faqat `ADMIN` roli."
    },
    {
      "name": "Admin · Audit",
      "description": "Kim nimani o'zgartirgani."
    },
    {
      "name": "Admin · Shablonlar",
      "description": "Hisobot formasi uchun namuna mazmun."
    },
    {
      "name": "Admin · Savol shablonlari",
      "description": "Savollarning pedagogik tuzilmasi."
    },
    {
      "name": "Admin · Testlar",
      "description": "O'quvchi topshiradigan testlar."
    },
    {
      "name": "Admin · Leadlar",
      "description": "Qabul testi formasini to'ldirganlar."
    },
    {
      "name": "Admin · Urinishlar",
      "description": "Topshirilgan javoblarni ko'rish."
    },
    {
      "name": "Admin · Statistika",
      "description": "Boshqaruv paneli ko'rsatkichlari."
    },
    {
      "name": "Admin · Fanlar",
      "description": "Tanlanadigan fanlar ro'yxati."
    },
    {
      "name": "Admin · Resurslar",
      "description": "Rivojlanish yo'li uchun o'quv resurslari."
    },
    {
      "name": "Admin · Sozlamalar",
      "description": "Global sozlamalar va ma'lumot tozalash."
    },
    {
      "name": "Ochiq · Sozlama",
      "description": "Autentifikatsiyasiz o'qiladigan sozlamalar."
    },
    {
      "name": "Ochiq · Hisobot",
      "description": "Ota-ona ko'radigan hisobot."
    },
    {
      "name": "Ochiq · Qabul testi",
      "description": "test.sodiqschool.uz funneli."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Xizmat"
        ],
        "summary": "Tiriklik tekshiruvi",
        "description": "Bazaga TEGMAYDI — faqat jarayon javob berayotganini bildiradi. Ya'ni Postgres yiqilgan bo'lsa ham `ok` qaytadi.",
        "security": [],
        "responses": {
          "200": {
            "description": "Jarayon tirik.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/config": {
      "get": {
        "tags": [
          "Ochiq · Sozlama"
        ],
        "summary": "Ochiq sozlamalar",
        "description": "Client (Astro) har sahifada SSR paytida chaqiradi. `funnelOpen` va `funnelGate` test-app'ga xato o'rniga tushunarli sahifa ko'rsatish imkonini beradi — bular QO'RIQCHI EMAS: qiymatni o'zgartirib testni ochib bo'lmaydi, haqiqiy to'siq server tomonda.\n\nParolning o'zi ham, hash'i ham qaytarilmaydi — faqat kerak-kerakmasligi.",
        "security": [],
        "responses": {
          "200": {
            "description": "Sozlamalar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "contactPhone": {
                          "type": "string",
                          "description": "Bo'sh bo'lishi mumkin."
                        },
                        "funnelOpen": {
                          "type": "boolean"
                        },
                        "funnelGate": {
                          "type": "boolean",
                          "description": "Kirish paroli o'rnatilganmi."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/result/auth/login": {
      "post": {
        "tags": [
          "Ochiq · Hisobot"
        ],
        "summary": "Kod va parol bilan kirish",
        "description": "Ikki bosqichli tekshiruv: avval `Student.loginCode` (yangi tizim), topilmasa `Result.publicCode` (eski kredensiallar). Eski kod bilan kirgan foydalanuvchiga ham o'quvchi ustidan token beriladi — eski havolalar buzilmasin.\n\n**Limit: 10 daqiqada 30 muvaffaqiyatSIZ urinish/IP.** Muvaffaqiyatlisi sanalmaydi, chunki mobil operatorlar CGNAT ishlatadi — bitta tashqi IP ortida yuzlab ota-ona bo'lishi mumkin.\n\nToken cookie sifatida ham, tanada ham qaytadi: boshqa origin'dagi mijozlar (Astro SSR) uni `Authorization: Bearer` bilan uzatadi.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "password"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 32,
                    "description": "Eski 6 belgili kod ham, yangi `<F><I><UID>` shakli ham qabul qilinadi."
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kirildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "studentId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "token": {
                          "type": "string",
                          "description": "JWT, 1 kun."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/result/auth/lookup": {
      "post": {
        "tags": [
          "Ochiq · Hisobot"
        ],
        "summary": "Familya, ism va sinf bilan kirish",
        "description": "Ota-onalar kod va parolni yo'qotib qo'ygani uchun qo'shilgan.\n\n**Bu — QIDIRUV, autentifikatsiya emas.** Ism-familya-sinf sir emas, ya'ni hisobot amalda ochiq. Ataylab shunday (`docs/security-notes.md`); yagona to'siq — yuqoridagi rate limiter.\n\nIsmlar bayt-ma-bayt teng bo'lishi shart emas — solishtirish normallashtirilgan holda ketadi. Bir xil ism-familya-sinfli bir nechta o'quvchi bo'lishi mumkin (funnel formani ikki marta to'ldirgan bola uchun yangi yozuv yaratadi), shuning uchun token BARCHA mos kelgan id'larni ko'taradi va `/list` ularning natijalarini birlashtiradi.\n\nNatijasi yo'q o'quvchi umuman topilmaydi — bo'sh sessiya ochishdan ko'ra \"topilmadi\" deyish to'g'riroq (va o'quvchining mavjudligini oshkor qilmaydi).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lastName",
                  "firstName",
                  "grade"
                ],
                "properties": {
                  "lastName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "grade": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 11,
                    "description": "Imtihon TOPSHIRGAN PAYTDAGI sinf."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "studentId": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Mos kelganlarning birinchisi."
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/result/auth/logout": {
      "post": {
        "tags": [
          "Ochiq · Hisobot"
        ],
        "summary": "Hisobotdan chiqish",
        "security": [],
        "responses": {
          "200": {
            "description": "Chiqildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "loggedOut": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/result/auth/me": {
      "get": {
        "tags": [
          "Ochiq · Hisobot"
        ],
        "summary": "Joriy sessiya",
        "description": "`studentIds` — familya+ism bilan kirilganda bir nechta bo'lishi mumkin. `resultId` faqat ESKI tokenlarda to'ladi (o'shalarda sessiya bitta natijaga bog'langan edi).",
        "security": [
          {
            "resultCookie": []
          },
          {
            "resultBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sessiya.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "studentId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "studentIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          }
                        },
                        "resultId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "publicCode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/result/list": {
      "get": {
        "tags": [
          "Ochiq · Hisobot"
        ],
        "summary": "Sessiyaga tegishli natijalar",
        "description": "Arxivlanganlar chiqmaydi. Client shu ro'yxatga qarab yo'l tanlaydi:\n- 0 → \"Sizga hali natija biriktirilmagan\"\n- 1 → to'g'ridan-to'g'ri hisobotga o'tadi\n- 2+ → tanlash sahifasi\n\n`multipleStudents: true` — sessiyada bir nechta o'quvchi yozuvi bor, ya'ni qatorlarni sana bilan farqlash kerak.",
        "security": [
          {
            "resultCookie": []
          },
          {
            "resultBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Natijalar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "student": {
                          "type": "object",
                          "properties": {
                            "fullName": {
                              "type": "string"
                            },
                            "grade": {
                              "type": "integer"
                            }
                          }
                        },
                        "multipleStudents": {
                          "type": "boolean"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "publicCode": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "publishedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "exam": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "examDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "academicYear": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "grade": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "compositeScore": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "Snapshotdagi umumiy ball."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/result/me": {
      "get": {
        "tags": [
          "Ochiq · Hisobot"
        ],
        "summary": "Hisobotning to'liq ma'lumoti",
        "description": "`resultId` berilmasa sessiyadagi eng oxirgi natija olinadi. Egalik TEKSHIRILADI — begona `resultId` bilan boshqa o'quvchining hisobotini ochib bo'lmaydi (404 qaytadi).\n\nRaqamlar `calculatedSnapshot` dan (muzlatilgan) o'qiladi, qayta hisoblanmaydi. `roadmapOpen` ni SERVER hisoblaydi — bitta \"hozir\" bo'lsin uchun.",
        "security": [
          {
            "resultCookie": []
          },
          {
            "resultBearer": []
          }
        ],
        "parameters": [
          {
            "name": "resultId",
            "in": "query",
            "description": "Qaysi natija. Berilmasa eng oxirgisi.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hisobot ma'lumoti.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "student": {
                          "type": "object",
                          "properties": {
                            "fullName": {
                              "type": "string"
                            },
                            "grade": {
                              "type": "integer"
                            },
                            "sex": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "exam": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "examDate": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "grade": {
                              "type": "integer"
                            },
                            "academicYear": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "cohortSize": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "gradingConfiguration": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "publishedAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "manualContent": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "subjects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "subject": {
                                "type": "string"
                              },
                              "totalQuestions": {
                                "type": "integer"
                              },
                              "totalMarks": {
                                "type": "integer"
                              },
                              "questions": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/Question"
                                }
                              },
                              "realData": {
                                "$ref": "#/components/schemas/RealData"
                              },
                              "manualNotes": {
                                "type": [
                                  "object",
                                  "null"
                                ],
                                "additionalProperties": true
                              }
                            }
                          }
                        },
                        "calculatedSnapshot": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": true
                        },
                        "aiNarrative": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": true
                        },
                        "aiRoadmap": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": true
                        },
                        "resources": {
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Admin boshqaradigan o'quv resurslari katalogi: fan → mavzu → `{uz, en}`. Bo'sh `{}` bo'lsa compute o'zining zaxira `resources.json` ini ishlatadi."
                        },
                        "unlockedSections": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "roadmapOpen": {
                          "type": "boolean",
                          "description": "\"Rivojlanish yo'li\" hozir ochiqmi (ochilganidan 20 daqiqa ichida)."
                        },
                        "resultId": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/test-taking/gate": {
      "post": {
        "tags": [
          "Ochiq · Qabul testi"
        ],
        "summary": "Kirish paroli bilan qurilmani ro'yxatdan o'tkazish",
        "description": "Maktab laptoplari uchun umumiy parol. Muvaffaqiyatda 365 kunlik token qaytadi — qurilma bir marta kiradi va o'zi chiqmaguncha kirgan holicha qoladi. Bekor qilishning yagona yo'li — sozlamadan parolni almashtirish (eski tokenlar rad etiladi).\n\nParol o'rnatilmagan bo'lsa `{ token: null, required: false }` qaytadi va hech narsa talab qilinmaydi.\n\n**Limit: 15 daqiqada 20 urinish/IP.**",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parol to'g'ri yoki umuman kerak emas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "required": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`BAD_PASSWORD` — parol noto'g'ri.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/test-taking/leads": {
      "post": {
        "tags": [
          "Ochiq · Qabul testi"
        ],
        "summary": "Ariza formasini yuborish",
        "description": "Nomzodni ro'yxatga oladi va `leadId` qaytaradi. **O'quvchi (Student) bu yerda YARATILMAYDI** — u faqat uchala fan topshirilgach tug'iladi, shunda chala qolgan odam admin \"o'quvchilar\" ro'yxatida ko'rinmaydi.\n\nIP va User-Agent yozib qo'yiladi.\n\nQabul testi yopiq bo'lsa 403 (`FUNNEL_CLOSED`); parol o'rnatilgan bo'lib token berilmasa 401 (`GATE_REQUIRED`).",
        "security": [
          {
            "funnelGate": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "sex",
                  "phone",
                  "grade",
                  "examLanguage"
                ],
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 1
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sex": {
                    "type": "string",
                    "enum": [
                      "MALE",
                      "FEMALE"
                    ]
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 24
                  },
                  "grade": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 11
                  },
                  "examLanguage": {
                    "type": "string",
                    "enum": [
                      "UZ",
                      "RU",
                      "EN"
                    ],
                    "description": "Savollar ham, test-app interfeysi ham shu tilda bo'ladi."
                  },
                  "previousSchool": {
                    "type": "string",
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ro'yxatga olindi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "leadId": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/test-taking/leads/{leadId}/tests": {
      "parameters": [
        {
          "name": "leadId",
          "in": "path",
          "required": true,
          "description": "**Diqqat:** bu id test-app URL'ida ochiq turadi — havolaga ega odam lead nomini ko'radi va uning nomidan test boshlay oladi.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Ochiq · Qabul testi"
        ],
        "summary": "Nomzodga tegishli testlar ro'yxati",
        "description": "Lead sinfiga va tiliga mos testlar. Tartib QAT'IY: matematika → ingliz tili → tanqidiy fikrlash (alifbo tartibi tanqidiy fikrlashni birinchi qo'yardi).\n\nTartib faqat KO'RSATISHDA — qo'riqchi emas: `/attempts` ga to'g'ridan-to'g'ri so'rov yuborib istalgan testni boshlash mumkin. Funnel lead yig'ish uchun, nazorat ostidagi imtihon emas.\n\n`lead.examLanguage` javobda KERAK: test-app butun interfeysni shu tilda ko'rsatadi.",
        "security": [
          {
            "funnelGate": []
          }
        ],
        "responses": {
          "200": {
            "description": "Testlar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              },
                              "subject": {
                                "type": "string"
                              },
                              "grade": {
                                "type": "integer"
                              },
                              "languages": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "durationSec": {
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "questionCount": {
                                "type": "integer"
                              },
                              "completed": {
                                "type": "boolean",
                                "description": "Shu lead uni allaqachon topshirganmi."
                              }
                            }
                          }
                        },
                        "lead": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "grade": {
                              "type": "integer"
                            },
                            "examLanguage": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/test-taking/attempts": {
      "post": {
        "tags": [
          "Ochiq · Qabul testi"
        ],
        "summary": "Urinishni boshlash",
        "description": "Urinish yaratadi va savollarni **javoblarsiz** qaytaradi (`stripAnswers`). Matn lead tilida bitta satrga yechiladi — boshqa tarjimalar brauzerga umuman yetib bormaydi.\n\nQaytgan `token` — shu urinishning siri: javob saqlash va yakunlash aynan shu bilan ketadi, ya'ni faqat testni boshlagan brauzer uni o'zgartira oladi.",
        "security": [
          {
            "funnelGate": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "leadId",
                  "testId"
                ],
                "properties": {
                  "leadId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "testId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Urinish boshlandi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "attemptId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "test": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string"
                            },
                            "subject": {
                              "type": "string"
                            },
                            "grade": {
                              "type": "integer"
                            },
                            "durationSec": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            }
                          }
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "questions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PublicTestQuestion"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/test-taking/attempts/{token}": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Urinish tokeni (`clientToken`) — `POST /api/test-taking/attempts` qaytargan.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Ochiq · Qabul testi"
        ],
        "summary": "Urinishni tiklash (sahifa yangilangach)",
        "description": "Saqlangan javoblar va savollar qaytadi; variantlar tartibi o'zgarmaydi (aralashtirish urug'i — urinish id'si).\n\nUrinish allaqachon yakunlangan bo'lsa qisqartirilgan javob keladi (`finished: true`, savollarsiz) — u yakuniy sahifaga navbatdagi testni topish uchun yetadi.\n\nKirish paroli bu yerda SO'RALMAYDI: token'ga ega brauzer testni allaqachon boshlagan.",
        "security": [],
        "responses": {
          "200": {
            "description": "Urinish holati.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Davom etayotgan",
                          "properties": {
                            "token": {
                              "type": "string"
                            },
                            "attemptId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "examLanguage": {
                              "type": "string",
                              "enum": [
                                "UZ",
                                "RU",
                                "EN"
                              ]
                            },
                            "test": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "startedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "answers": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "questions": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/PublicTestQuestion"
                              }
                            },
                            "finished": {
                              "type": "boolean",
                              "const": false
                            }
                          }
                        },
                        {
                          "type": "object",
                          "title": "Yakunlangan",
                          "properties": {
                            "token": {
                              "type": "string"
                            },
                            "submittedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "finished": {
                              "type": "boolean",
                              "const": true
                            },
                            "leadId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "examLanguage": {
                              "type": "string"
                            },
                            "test": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/test-taking/attempts/{token}/answers": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Urinish tokeni (`clientToken`) — `POST /api/test-taking/attempts` qaytargan.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "tags": [
          "Ochiq · Qabul testi"
        ],
        "summary": "Javoblarni saqlash (avtosaqlash)",
        "description": "Butun javoblar to'plamini ALMASHTIRADI (qo'shmaydi). Yakunlangan urinishga yozib bo'lmaydi (`ALREADY_SUBMITTED`).\n\nKirish paroli ATAYLAB so'ralmaydi: admin parolni almashtirgan zahoti test yozib o'tirgan bolaning ishi yo'qolmasin.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttemptAnswers"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saqlandi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "saved": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/test-taking/attempts/{token}/submit": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Urinish tokeni (`clientToken`) — `POST /api/test-taking/attempts` qaytargan.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Ochiq · Qabul testi"
        ],
        "summary": "Urinishni yakunlash",
        "description": "Tanada javoblar berilsa o'shalar olinadi (oxirgi imkoniyat), aks holda saqlanganlari.\n\n**Uchala fan tugamagan bo'lsa** — faqat shu urinish yakunlangan deb belgilanadi; o'quvchi, natija va hisobot HALI yaratilmaydi (`completed: false`).\n\n**Uchala fan yig'ilganda** — o'quvchi yaratiladi, kirish kodi va paroli biriktiriladi, uchala fan qayta baholanadi, natija DARHOL nashr etiladi va \"Rivojlanish yo'li\" 20 daqiqaga ochiladi. AI tahlili bu yerda yozilmaydi — kerak bo'lsa admin `generate-ai` bilan yozdiradi.\n\nOg'ir yozuvlar urinish \"yakunlangan\" deb belgilanishidan OLDIN bajariladi: o'sha blok yiqilsa urinish ochiq qoladi va o'quvchi qayta urina oladi.\n\nBir fan qayta topshirilsa eng oxirgi urinish hisobga olinadi va natija dublikat bo'lmaydi — mavjud arxivlanmagan natija qayta ishlatiladi.",
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AttemptAnswers"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "autoSubmitted": {
                        "type": "boolean",
                        "description": "Vaqt tugab avtomatik yuborilganmi. Faqat kuzatuv uchun."
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yakunlandi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "resultId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid",
                          "description": "Faqat imtihon to'liq tugagan bo'lsa."
                        },
                        "scoreRaw": {
                          "type": "integer",
                          "description": "Shu fan bo'yicha to'plangan ball."
                        },
                        "scoreMax": {
                          "type": "integer"
                        },
                        "completed": {
                          "type": "boolean",
                          "description": "Uchala fan ham topshirildimi."
                        },
                        "subjectsDone": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/admin/auth/login": {
      "post": {
        "tags": [
          "Admin · Auth"
        ],
        "summary": "Admin sifatida kirish",
        "description": "Muvaffaqiyatda `sodiq_admin` httpOnly cookie qo'yiladi (JWT, 7 kun).\n\n**Limit: 15 daqiqada 10 urinish/IP** — muvaffaqiyatlisi ham sanaladi. Lokal ishlab chiqishda bu tez tugaydi; hisoblagich xotirada, backend qayta ishga tushirilsa nollanadi.\n\nEmail topilmasa ham, parol noto'g'ri bo'lsa ham AYNAN bir xil xato qaytadi — qaysi email ro'yxatdan o'tganini bilib bo'lmasin.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kirildi; cookie o'rnatildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AdminUser"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/admin/auth/logout": {
      "post": {
        "tags": [
          "Admin · Auth"
        ],
        "summary": "Chiqish",
        "description": "Cookie'ni o'chiradi. Token serverda bekor qilinmaydi (bazada saqlanmaydi).",
        "security": [],
        "responses": {
          "200": {
            "description": "Chiqildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "loggedOut": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/auth/me": {
      "get": {
        "tags": [
          "Admin · Auth"
        ],
        "summary": "Joriy admin",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sessiyadagi admin.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "ADMIN",
                            "EDITOR"
                          ]
                        },
                        "fullName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/students": {
      "get": {
        "tags": [
          "Admin · O'quvchilar"
        ],
        "summary": "O'quvchilar ro'yxati",
        "description": "Standart 10 qator, `take` bo'yicha eng ko'pi 1000 — kombobokslar butun ro'yxatni bitta so'rovda olishi uchun.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Take"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Grade"
          },
          {
            "name": "sex",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "MALE",
                "FEMALE"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created-desc",
                "name-asc",
                "grade-asc",
                "grade-desc"
              ],
              "default": "created-desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sahifalangan ro'yxat.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "total",
                        "page",
                        "take",
                        "pages"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Student"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Filtrga mos jami yozuvlar soni."
                        },
                        "page": {
                          "type": "integer",
                          "description": "1 dan boshlanadi."
                        },
                        "take": {
                          "type": "integer"
                        },
                        "pages": {
                          "type": "integer"
                        },
                        "counts": {
                          "type": "object",
                          "description": "Nishon kesimlari. Bazadan sanaladi (sahifadagi qatorlardan emas) va o'zi bo'linayotgan o'lchov filtriga bo'ysunmaydi.",
                          "properties": {
                            "byGrade": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "integer"
                              }
                            },
                            "male": {
                              "type": "integer"
                            },
                            "female": {
                              "type": "integer"
                            },
                            "unknownSex": {
                              "type": "integer",
                              "description": "Jinsi kiritilmaganlar — o'g'il+qiz jamiga teng chiqmasa, farq shu."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Admin · O'quvchilar"
        ],
        "summary": "O'quvchi qo'shish",
        "description": "`fullName` YOKI `firstName` + `lastName` berilishi shart — server ikkinchi shaklni birinchisidan hosil qiladi (birinchi bo'shliq bo'yicha, ya'ni ko'p so'zli familya butun qoladi).\n\nYaratilgach o'quvchiga bir marta login kodi va parol biriktiriladi.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yaratildi (login kodi va paroli bilan).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Student"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/admin/students/import": {
      "post": {
        "tags": [
          "Admin · O'quvchilar"
        ],
        "summary": "O'quvchilarni ommaviy import qilish (JSON)",
        "description": "Bitta qator yiqilsa butun paket to'xtamaydi — u `skipped` ga sababi bilan tushadi. `uid` bo'yicha takrorlanganlar o'tkazib yuboriladi.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "students"
                ],
                "properties": {
                  "students": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2000,
                    "items": {
                      "$ref": "#/components/schemas/StudentCreate"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import hisoboti.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "skipped": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "reason": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/students/credentials": {
      "get": {
        "tags": [
          "Admin · O'quvchilar"
        ],
        "summary": "Kirish kodlari ro'yxati (imtihon bo'yicha)",
        "description": "Faqat shu imtihonda ARXIVLANMAGAN natijasi bor o'quvchilar. Har o'quvchi bir marta chiqadi — login/parol o'quvchiga tegishli, bir necha natija bitta kredensialdan foydalanadi.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "parameters": [
          {
            "name": "examId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/Grade"
          }
        ],
        "responses": {
          "200": {
            "description": "Kredensiallar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "examId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "grade": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "count": {
                          "type": "integer"
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "studentId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "grade": {
                                "type": "integer"
                              },
                              "uid": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "loginCode": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "password": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "resultCode": {
                                "type": "string"
                              },
                              "hasCredentials": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/students/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "tags": [
          "Admin · O'quvchilar"
        ],
        "summary": "O'quvchi detali",
        "description": "Natijalari (imtihoni bilan) ichma-ich keladi.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "O'quvchi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Student"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Result"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin · O'quvchilar"
        ],
        "summary": "O'quvchini tahrirlash",
        "description": "Qisman yangilash. Ism maydonlaridan biri o'zgarsa, ikkinchisi qayta hosil qilinadi — `fullName` bilan `firstName`/`lastName` bir-biridan ajralib qolmasin.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yangilandi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Student"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin · O'quvchilar"
        ],
        "summary": "O'quvchini o'chirish",
        "description": "**Kaskad**: o'quvchi + barcha natija/hisobot/urinish/lead. Natijasi bor o'quvchini o'chirib bo'lmaydi degan cheklov YO'Q — hammasi birga ketadi.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "O'chirildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/admin/exams": {
      "get": {
        "tags": [
          "Admin · Imtihonlar"
        ],
        "summary": "Imtihonlar ro'yxati",
        "description": "`grade` filtri eski `grade` ustunini ham, yangi `grades[]` massivini ham tekshiradi.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Take"
          },
          {
            "$ref": "#/components/parameters/Grade"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "ACTIVE",
                "ARCHIVED"
              ]
            }
          },
          {
            "name": "academicYear",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "Sahifalangan ro'yxat.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "total",
                        "page",
                        "take",
                        "pages"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Exam"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Filtrga mos jami yozuvlar soni."
                        },
                        "page": {
                          "type": "integer",
                          "description": "1 dan boshlanadi."
                        },
                        "take": {
                          "type": "integer"
                        },
                        "pages": {
                          "type": "integer"
                        },
                        "counts": {
                          "type": "object",
                          "description": "Nishon kesimlari. Bazadan sanaladi (sahifadagi qatorlardan emas) va o'zi bo'linayotgan o'lchov filtriga bo'ysunmaydi.",
                          "properties": {
                            "DRAFT": {
                              "type": "integer"
                            },
                            "ACTIVE": {
                              "type": "integer"
                            },
                            "ARCHIVED": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Admin · Imtihonlar"
        ],
        "summary": "Imtihon yaratish",
        "description": "`admissionThresholds` MAJBURIY. `grade` yoki `grades` dan kamida bittasi berilsin — server ularni moslashtiradi (`grades[0]` eski ustunga yoziladi).",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExamCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yaratildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Exam"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/exams/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "get": {
        "tags": [
          "Admin · Imtihonlar"
        ],
        "summary": "Imtihon detali",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Imtihon (natijalar soni bilan).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Exam"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin · Imtihonlar"
        ],
        "summary": "Imtihonni tahrirlash",
        "description": "`grade`/`grades` ikkalasi ham berilmasa sinflar TEGILMAYDI — faqat sarlavhani o'zgartirgan patch sinflarni standartga qaytarib yubormasin.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExamUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yangilandi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Exam"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin · Imtihonlar"
        ],
        "summary": "Imtihonni o'chirish",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "O'chirildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/admin/exams/{id}/recompute-cohort": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PathId"
        }
      ],
      "post": {
        "tags": [
          "Admin · Imtihonlar"
        ],
        "summary": "Kohort reytingini qayta hisoblash",
        "description": "Shu imtihonning barcha NASHR ETILGAN natijalari bo'yicha o'rin va jins kesimidagi reytingni qaytadan yozadi. Yangi tengdosh qo'shilganda yoki reyting mantiqi o'zgarganda kerak bo'ladi.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Qayta hisoblandi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "recomputed": {
                          "type": "integer",
                          "description": "Ta'sirlangan nashr etilgan natijalar soni."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/admin/results": {
      "get": {
        "tags": [
          "Admin · Natijalar"
        ],
        "summary": "Natijalar ro'yxati",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Take"
          },
          {
            "$ref": "#/components/parameters/ExamIdQuery"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED",
                "ARCHIVED"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Grade"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Kod yoki o'quvchi ismi.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "today",
            "in": "query",
            "description": "`1` — faqat bugun (server vaqti bo'yicha yarim tundan) qo'shilganlar.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created-desc",
                "created-asc",
                "code-asc"
              ],
              "default": "created-desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sahifalangan ro'yxat (yengil ustunlar — `manualContent` va snapshot yo'q).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "total",
                        "page",
                        "take",
                        "pages"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "publicCode": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "DRAFT",
                                  "PUBLISHED",
                                  "ARCHIVED"
                                ]
                              },
                              "publishedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "student": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "fullName": {
                                    "type": "string"
                                  },
                                  "grade": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "exam": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "grade": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Filtrga mos jami yozuvlar soni."
                        },
                        "page": {
                          "type": "integer",
                          "description": "1 dan boshlanadi."
                        },
                        "take": {
                          "type": "integer"
                        },
                        "pages": {
                          "type": "integer"
                        },
                        "counts": {
                          "type": "object",
                          "description": "Nishon kesimlari. Bazadan sanaladi (sahifadagi qatorlardan emas) va o'zi bo'linayotgan o'lchov filtriga bo'ysunmaydi.",
                          "properties": {
                            "DRAFT": {
                              "type": "integer"
                            },
                            "PUBLISHED": {
                              "type": "integer"
                            },
                            "ARCHIVED": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Admin · Natijalar"
        ],
        "summary": "Natija yaratish (qo'lda)",
        "description": "UCHALA fan ham berilishi shart. Server savollarni tekshiradi, hisob-kitobni yozishdan OLDIN yugurtiradi (xato bo'lsa baza tegilmaydi), so'ng natijani DARHOL NASHR ETADI va snapshotni muzlatadi — alohida \"Nashr etish\" qadami yo'q.\n\nAI matni fon rejimida yaratiladi: javob Gemini'ni kutmaydi.\n\n`credentials.password` faqat o'quvchiga kredensial SHU PAYT yaratilgan bo'lsa qaytadi (`generated: true`); mavjud o'quvchida eski parol saqlanib qoladi.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "studentId",
                  "examId",
                  "subjects"
                ],
                "properties": {
                  "studentId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "examId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "manualContent": {
                    "$ref": "#/components/schemas/ManualContent"
                  },
                  "subjects": {
                    "type": "array",
                    "minItems": 3,
                    "maxItems": 3,
                    "items": {
                      "$ref": "#/components/schemas/SubjectInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yaratildi va nashr etildi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Result"
                        },
                        "credentials": {
                          "type": "object",
                          "properties": {
                            "loginCode": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "password": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "generated": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/admin/results/export.csv": {
      "get": {
        "tags": [
          "Admin · Natijalar"
        ],
        "summary": "Natijalarni CSV qilib yuklab olish",
        "description": "`GET /api/admin/results` bilan AYNAN bir xil filtrlarni oladi, lekin mos kelgan hamma qatorni beradi (eng ko'pi 10 000). Ustunlar: qat'iy qism, so'ng har fan uchun ball / maksimum / foiz. Sarlavha o'zbekcha va faylda UTF-8 BOM bor — Excel diakritiklarni to'g'ri ochsin.",
        "security": [
          {
            "adminCookie": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ExamIdQuery"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED",
                "ARCHIVED"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Grade"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "name": "today",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created-desc",
                "created-asc",
                "code-asc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV fayl (`Content-Disposition: attachment`).",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/results/import-csv": {
      "post": {
        "tags": [
          "Admin · Natijalar"
        ],
        "summary": "Natijalarni ommaviy import qilish (CSV yoki JSON)",
        "description": "`csv` (maktab jadvali matni) yoki `students` (JSON qatorlar) beriladi; ikkalasi berilsa JSON afzal ko'riladi (u strukturaviy boyroq).\n\n`dryRun: true` — hech narsa yozilmaydi, faqat tahlil va oldindan ko'rish qaytadi. Har fan uchun kutilayotgan savollar soni imtihon SHABLONIDAN olinadi; shablon yo'q fanlar `noTemplateSubjects` da ko'rsatiladi va standart sonlar ishlatiladi (matem 25, tanqidiy 10, ingliz 50).\n\nSo'rov tanasi 5 MB gacha — bu ~300 qator × 95 ustun CSV ni qoplaydi.",
        "security": [
          {
            "adminCookie": []
[...]
